<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/914CT7iyyvL.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">Harry Potter and the Deathly Hallows</h5>
                      <p class="card-text">J.K Rowling</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71rUpSynUHL.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">On The Origin of Species</h5>
                      <p class="card-text">Charles Darwin</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/51oHUvYzbsL.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">The theory of Everything</h5>
                      <p class="card-text">Stephen Hawking</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn.shopify.com/s/files/1/0279/3501/4973/products/CCI24012021_0007_580x.jpg?v=1611461309" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">The Spiderwick Chronicles</h5>
                      <p class="card-text">Holly Black, Tony DiTerizzi</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://upload.wikimedia.org/wikipedia/en/c/cb/The_Chronicles_of_Narnia_box_set_cover.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">The Chronicles of Narnia</h5>
                      <p class="card-text">C.S Lewis</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81jtrIKJd2L.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">The Da Vinci Code</h5>
                      <p class="card-text">Dan Brown</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://m.media-amazon.com/images/I/51HZXUdondL._SL500_.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">Journey to the centre of the earth</h5>
                      <p class="card-text">Jules Verne</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91A6o3pCiEL.jpg" class="card-img-top" alt="File Missing!">
                <div class="card-body">
                  <h5 class="card-title">Around the world in 80 days</h5>
                  <p class="card-text">Jules Verne</p>
                  <a href="#" class="btn btn-primary">Buy Book</a>
                </div>
              </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">The Alchemist</h5>
                      <p class="card-text">Paulo Coelho</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71zxX-RW2xL.jpg" class="card-img-top" alt="File Missing!">
                    <div class="card-body">
                      <h5 class="card-title">The 3 mistakes of my life</h5>
                      <p class="card-text">Chetan Bhagat</p>
                      <a href="#" class="btn btn-primary">Buy Book</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
</div>
